/* To je tvoj stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Svetlo siva barva ozadja */
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #db0007; /* McDonald's rdeča (za primer) */
}

img {
    max-width: 300px;
    border: 2px solid #333;
    margin: 10px;
    border-radius: 10px; /* Zaobljeni robovi slik */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
}